USE [master]
GO
/****** Object:  Database [LearningManagementSystem]    Script Date: 05/11/2025 03:10:23 ******/
CREATE DATABASE [LearningManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LearningManagementSystem', FILENAME = N'C:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\LearningManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LearningManagementSystem_log', FILENAME = N'C:\SQL2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\LearningManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LearningManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LearningManagementSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[MaxScore] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentSubmissions]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentSubmissions](
	[SubmissionId] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[Grade] [real] NULL,
	[Feedback] [nvarchar](1000) NULL,
 CONSTRAINT [PK_AssignmentSubmissions] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certifications]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certifications](
	[CertificateId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[CertificateUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Certifications] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollmentDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ProgressPercent] [float] NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPosts]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPosts](
	[PostId] [int] IDENTITY(1,1) NOT NULL,
	[ThreadId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PostDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ForumPosts] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumThreads]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumThreads](
	[ThreadId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ForumThreads] PRIMARY KEY CLUSTERED 
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[ModuleId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ContentType] [nvarchar](50) NULL,
	[ContentUrl] [nvarchar](500) NULL,
	[OrderIndex] [int] NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[SendTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ModuleId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[OrderIndex] [int] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[SentDate] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Progresses]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progresses](
	[ProgressId] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[CompletedLessons] [int] NOT NULL,
	[LastAccessTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Progresses] PRIMARY KEY CLUSTERED 
(
	[ProgressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[CorrectAnswer] [nvarchar](500) NOT NULL,
	[QuestionType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizAttempts]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizAttempts](
	[AttemptId] [int] IDENTITY(1,1) NOT NULL,
	[QuizId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[Score] [float] NULL,
 CONSTRAINT [PK_QuizAttempts] PRIMARY KEY CLUSTERED 
(
	[AttemptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[TimeLimit] [int] NOT NULL,
	[TotalQuestion] [int] NOT NULL,
 CONSTRAINT [PK_Quizzes] PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GeneratedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/11/2025 03:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251104195046_InitialCreate', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentId], [CourseId], [Title], [DueDate], [MaxScore], [CreatedAt]) VALUES (1, 1, N'First Programming Exercise', CAST(N'2024-03-01T23:59:59.0000000' AS DateTime2), 100, CAST(N'2024-02-15T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Assignments] ([AssignmentId], [CourseId], [Title], [DueDate], [MaxScore], [CreatedAt]) VALUES (2, 1, N'Variables and Operators Quiz', CAST(N'2024-03-05T23:59:59.0000000' AS DateTime2), 100, CAST(N'2024-02-16T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[Assignments] ([AssignmentId], [CourseId], [Title], [DueDate], [MaxScore], [CreatedAt]) VALUES (3, 2, N'Build a Simple Web Page', CAST(N'2024-03-10T23:59:59.0000000' AS DateTime2), 100, CAST(N'2024-02-17T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[AssignmentSubmissions] ON 

INSERT [dbo].[AssignmentSubmissions] ([SubmissionId], [AssignmentId], [UserId], [SubmittedAt], [Grade], [Feedback]) VALUES (1, 1, 6, CAST(N'2024-02-28T14:30:00.0000000' AS DateTime2), 85, N'Good work! Minor improvements needed.')
INSERT [dbo].[AssignmentSubmissions] ([SubmissionId], [AssignmentId], [UserId], [SubmittedAt], [Grade], [Feedback]) VALUES (2, 1, 7, CAST(N'2024-02-28T15:45:00.0000000' AS DateTime2), 92, N'Excellent submission!')
INSERT [dbo].[AssignmentSubmissions] ([SubmissionId], [AssignmentId], [UserId], [SubmittedAt], [Grade], [Feedback]) VALUES (3, 2, 6, CAST(N'2024-03-04T10:20:00.0000000' AS DateTime2), 78, N'Needs more practice with operators.')
SET IDENTITY_INSERT [dbo].[AssignmentSubmissions] OFF
GO
INSERT [dbo].[Certifications] ([CertificateId], [UserId], [IssueDate], [CertificateUrl]) VALUES (N'CERT-001', 6, CAST(N'2024-03-15T10:00:00.0000000' AS DateTime2), N'https://example.com/certificates/cert-001.pdf')
INSERT [dbo].[Certifications] ([CertificateId], [UserId], [IssueDate], [CertificateUrl]) VALUES (N'CERT-002', 6, CAST(N'2024-03-20T11:00:00.0000000' AS DateTime2), N'https://example.com/certificates/cert-002.pdf')
INSERT [dbo].[Certifications] ([CertificateId], [UserId], [IssueDate], [CertificateUrl]) VALUES (N'CERT-003', 7, CAST(N'2024-03-15T12:00:00.0000000' AS DateTime2), N'https://example.com/certificates/cert-003.pdf')
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Status], [Category], [CreatedAt], [UpdatedAt]) VALUES (1, N'Introduction to Programming', N'Learn the fundamentals of programming with C#', N'Active', N'Programming', CAST(N'2024-01-15T08:00:00.0000000' AS DateTime2), CAST(N'2024-01-15T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Status], [Category], [CreatedAt], [UpdatedAt]) VALUES (2, N'Web Development Basics', N'Build modern web applications using ASP.NET Core', N'Active', N'Web Development', CAST(N'2024-01-16T09:00:00.0000000' AS DateTime2), CAST(N'2024-01-20T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Courses] ([CourseId], [Title], [Description], [Status], [Category], [CreatedAt], [UpdatedAt]) VALUES (3, N'Database Design', N'Master database design and SQL Server', N'Active', N'Database', CAST(N'2024-01-17T10:00:00.0000000' AS DateTime2), CAST(N'2024-01-18T11:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentId], [UserId], [CourseId], [EnrollmentDate], [Status], [ProgressPercent]) VALUES (1, 6, 1, CAST(N'2024-02-01T09:00:00.0000000' AS DateTime2), N'Active', 25.5)
INSERT [dbo].[Enrollments] ([EnrollmentId], [UserId], [CourseId], [EnrollmentDate], [Status], [ProgressPercent]) VALUES (2, 6, 2, CAST(N'2024-02-02T10:00:00.0000000' AS DateTime2), N'Active', 50)
INSERT [dbo].[Enrollments] ([EnrollmentId], [UserId], [CourseId], [EnrollmentDate], [Status], [ProgressPercent]) VALUES (3, 7, 1, CAST(N'2024-02-03T11:00:00.0000000' AS DateTime2), N'Active', 75)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumPosts] ON 

INSERT [dbo].[ForumPosts] ([PostId], [ThreadId], [UserId], [Content], [PostDate]) VALUES (1, 1, 2, N'Start with understanding basic syntax and then practice with simple programs.', CAST(N'2024-02-01T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[ForumPosts] ([PostId], [ThreadId], [UserId], [Content], [PostDate]) VALUES (2, 1, 6, N'Thank you for the advice!', CAST(N'2024-02-01T11:00:00.0000000' AS DateTime2))
INSERT [dbo].[ForumPosts] ([PostId], [ThreadId], [UserId], [Content], [PostDate]) VALUES (3, 2, 3, N'Use meaningful names that describe the variable purpose. Avoid abbreviations.', CAST(N'2024-02-02T11:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ForumPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumThreads] ON 

INSERT [dbo].[ForumThreads] ([ThreadId], [CourseId], [UserId], [Title], [CreatedAt]) VALUES (1, 1, 6, N'How to start with C# programming?', CAST(N'2024-02-01T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[ForumThreads] ([ThreadId], [CourseId], [UserId], [Title], [CreatedAt]) VALUES (2, 1, 7, N'Best practices for variable naming', CAST(N'2024-02-02T11:00:00.0000000' AS DateTime2))
INSERT [dbo].[ForumThreads] ([ThreadId], [CourseId], [UserId], [Title], [CreatedAt]) VALUES (3, 2, 8, N'HTML vs HTML5 differences', CAST(N'2024-02-03T12:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ForumThreads] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [ModuleId], [Title], [ContentType], [ContentUrl], [OrderIndex]) VALUES (1, 1, N'Introduction to C#', N'Video', N'https://example.com/lesson1.mp4', 1)
INSERT [dbo].[Lessons] ([LessonId], [ModuleId], [Title], [ContentType], [ContentUrl], [OrderIndex]) VALUES (2, 1, N'Setting Up Development Environment', N'Video', N'https://example.com/lesson2.mp4', 2)
INSERT [dbo].[Lessons] ([LessonId], [ModuleId], [Title], [ContentType], [ContentUrl], [OrderIndex]) VALUES (3, 2, N'Understanding Variables', N'Video', N'https://example.com/lesson3.mp4', 1)
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [SendTime]) VALUES (1, 2, 6, N'Great work on your assignment! Keep it up!', CAST(N'2024-02-15T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [SendTime]) VALUES (2, 6, 2, N'Thank you for the feedback!', CAST(N'2024-02-15T09:30:00.0000000' AS DateTime2))
INSERT [dbo].[Messages] ([MessageId], [SenderId], [ReceiverId], [Content], [SendTime]) VALUES (3, 3, 7, N'Please check your quiz submission, there are some issues.', CAST(N'2024-02-16T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([ModuleId], [CourseId], [Title], [OrderIndex]) VALUES (1, 1, N'Getting Started with Programming', 1)
INSERT [dbo].[Modules] ([ModuleId], [CourseId], [Title], [OrderIndex]) VALUES (2, 1, N'Variables and Data Types', 2)
INSERT [dbo].[Modules] ([ModuleId], [CourseId], [Title], [OrderIndex]) VALUES (3, 2, N'HTML and CSS Basics', 1)
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [SentDate], [IsRead]) VALUES (1, 6, N'New assignment available: First Programming Exercise', CAST(N'2024-02-15T08:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [SentDate], [IsRead]) VALUES (2, 7, N'Your quiz score has been published: 90%', CAST(N'2024-02-20T11:30:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Message], [SentDate], [IsRead]) VALUES (3, 8, N'New forum post in your thread', CAST(N'2024-02-01T10:35:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Progresses] ON 

INSERT [dbo].[Progresses] ([ProgressId], [EnrollmentId], [LessonId], [CompletedLessons], [LastAccessTime]) VALUES (1, 1, 1, 5, CAST(N'2024-02-15T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Progresses] ([ProgressId], [EnrollmentId], [LessonId], [CompletedLessons], [LastAccessTime]) VALUES (2, 1, 2, 3, CAST(N'2024-02-16T11:00:00.0000000' AS DateTime2))
INSERT [dbo].[Progresses] ([ProgressId], [EnrollmentId], [LessonId], [CompletedLessons], [LastAccessTime]) VALUES (3, 2, 4, 8, CAST(N'2024-02-17T12:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Progresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuizId], [Content], [CorrectAnswer], [QuestionType]) VALUES (1, 1, N'What is the output of Console.WriteLine("Hello")?', N'Hello', N'Multiple Choice')
INSERT [dbo].[Questions] ([QuestionId], [QuizId], [Content], [CorrectAnswer], [QuestionType]) VALUES (2, 1, N'Which keyword is used to declare a variable?', N'var', N'Multiple Choice')
INSERT [dbo].[Questions] ([QuestionId], [QuizId], [Content], [CorrectAnswer], [QuestionType]) VALUES (3, 2, N'What is the size of int in C#?', N'4 bytes', N'Multiple Choice')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizAttempts] ON 

INSERT [dbo].[QuizAttempts] ([AttemptId], [QuizId], [UserId], [StartTime], [EndTime], [Score]) VALUES (1, 1, 6, CAST(N'2024-02-20T10:00:00.0000000' AS DateTime2), CAST(N'2024-02-20T10:25:00.0000000' AS DateTime2), 80)
INSERT [dbo].[QuizAttempts] ([AttemptId], [QuizId], [UserId], [StartTime], [EndTime], [Score]) VALUES (2, 1, 7, CAST(N'2024-02-20T11:00:00.0000000' AS DateTime2), CAST(N'2024-02-20T11:22:00.0000000' AS DateTime2), 90)
INSERT [dbo].[QuizAttempts] ([AttemptId], [QuizId], [UserId], [StartTime], [EndTime], [Score]) VALUES (3, 2, 6, CAST(N'2024-02-21T14:00:00.0000000' AS DateTime2), CAST(N'2024-02-21T14:15:00.0000000' AS DateTime2), 75)
SET IDENTITY_INSERT [dbo].[QuizAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([QuizId], [CourseId], [Title], [TimeLimit], [TotalQuestion]) VALUES (1, 1, N'Programming Basics Quiz', 30, 10)
INSERT [dbo].[Quizzes] ([QuizId], [CourseId], [Title], [TimeLimit], [TotalQuestion]) VALUES (2, 1, N'Variables and Data Types Quiz', 20, 8)
INSERT [dbo].[Quizzes] ([QuizId], [CourseId], [Title], [TimeLimit], [TotalQuestion]) VALUES (3, 2, N'HTML/CSS Knowledge Check', 25, 10)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ReportId], [UserId], [GeneratedAt]) VALUES (1, 1, CAST(N'2024-03-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reports] ([ReportId], [UserId], [GeneratedAt]) VALUES (2, 1, CAST(N'2024-03-02T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reports] ([ReportId], [UserId], [GeneratedAt]) VALUES (3, 2, CAST(N'2024-03-03T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Admin User', N'admin@lms.com', N'$2a$11$hashedpassword1', N'Admin', CAST(N'2024-01-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'John Instructor', N'john.instructor@lms.com', N'$2a$11$hashedpassword2', N'Instructor', CAST(N'2024-01-02T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'Jane Instructor', N'jane.instructor@lms.com', N'$2a$11$hashedpassword3', N'Instructor', CAST(N'2024-01-03T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Assignments_CourseId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Assignments_CourseId] ON [dbo].[Assignments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentSubmissions_AssignmentId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentSubmissions_AssignmentId] ON [dbo].[AssignmentSubmissions]
(
	[AssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignmentSubmissions_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_AssignmentSubmissions_UserId] ON [dbo].[AssignmentSubmissions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Certifications_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Certifications_UserId] ON [dbo].[Certifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_CourseId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_CourseId] ON [dbo].[Enrollments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Enrollments_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Enrollments_UserId] ON [dbo].[Enrollments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForumPosts_ThreadId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_ForumPosts_ThreadId] ON [dbo].[ForumPosts]
(
	[ThreadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForumPosts_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_ForumPosts_UserId] ON [dbo].[ForumPosts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForumThreads_CourseId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_ForumThreads_CourseId] ON [dbo].[ForumThreads]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ForumThreads_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_ForumThreads_UserId] ON [dbo].[ForumThreads]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_ModuleId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_ModuleId] ON [dbo].[Lessons]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ReceiverId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ReceiverId] ON [dbo].[Messages]
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderId] ON [dbo].[Messages]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modules_CourseId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Modules_CourseId] ON [dbo].[Modules]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progresses_EnrollmentId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Progresses_EnrollmentId] ON [dbo].[Progresses]
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Progresses_LessonId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Progresses_LessonId] ON [dbo].[Progresses]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_QuizId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Questions_QuizId] ON [dbo].[Questions]
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizAttempts_QuizId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_QuizAttempts_QuizId] ON [dbo].[QuizAttempts]
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuizAttempts_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_QuizAttempts_UserId] ON [dbo].[QuizAttempts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quizzes_CourseId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Quizzes_CourseId] ON [dbo].[Quizzes]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reports_UserId]    Script Date: 05/11/2025 03:10:24 ******/
CREATE NONCLUSTERED INDEX [IX_Reports_UserId] ON [dbo].[Reports]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 05/11/2025 03:10:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AssignmentSubmissions] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Certifications] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[ForumPosts] ADD  DEFAULT (getdate()) FOR [PostDate]
GO
ALTER TABLE [dbo].[ForumThreads] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SendTime]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[QuizAttempts] ADD  DEFAULT (getdate()) FOR [StartTime]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Courses_CourseId]
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentSubmissions_Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([AssignmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignmentSubmissions] CHECK CONSTRAINT [FK_AssignmentSubmissions_Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[AssignmentSubmissions]  WITH CHECK ADD  CONSTRAINT [FK_AssignmentSubmissions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AssignmentSubmissions] CHECK CONSTRAINT [FK_AssignmentSubmissions_Users_UserId]
GO
ALTER TABLE [dbo].[Certifications]  WITH CHECK ADD  CONSTRAINT [FK_Certifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Certifications] CHECK CONSTRAINT [FK_Certifications_Users_UserId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_UserId]
GO
ALTER TABLE [dbo].[ForumPosts]  WITH CHECK ADD  CONSTRAINT [FK_ForumPosts_ForumThreads_ThreadId] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[ForumThreads] ([ThreadId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForumPosts] CHECK CONSTRAINT [FK_ForumPosts_ForumThreads_ThreadId]
GO
ALTER TABLE [dbo].[ForumPosts]  WITH CHECK ADD  CONSTRAINT [FK_ForumPosts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ForumPosts] CHECK CONSTRAINT [FK_ForumPosts_Users_UserId]
GO
ALTER TABLE [dbo].[ForumThreads]  WITH CHECK ADD  CONSTRAINT [FK_ForumThreads_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForumThreads] CHECK CONSTRAINT [FK_ForumThreads_Courses_CourseId]
GO
ALTER TABLE [dbo].[ForumThreads]  WITH CHECK ADD  CONSTRAINT [FK_ForumThreads_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ForumThreads] CHECK CONSTRAINT [FK_ForumThreads_Users_UserId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([ModuleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_Modules_ModuleId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Users_SenderId]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_Courses_CourseId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Enrollments_EnrollmentId] FOREIGN KEY([EnrollmentId])
REFERENCES [dbo].[Enrollments] ([EnrollmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Enrollments_EnrollmentId]
GO
ALTER TABLE [dbo].[Progresses]  WITH CHECK ADD  CONSTRAINT [FK_Progresses_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[Progresses] CHECK CONSTRAINT [FK_Progresses_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizzes] ([QuizId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_Quizzes_QuizId]
GO
ALTER TABLE [dbo].[QuizAttempts]  WITH CHECK ADD  CONSTRAINT [FK_QuizAttempts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuizAttempts] CHECK CONSTRAINT [FK_QuizAttempts_Users_UserId]
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD  CONSTRAINT [FK_Quizzes_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quizzes] CHECK CONSTRAINT [FK_Quizzes_Courses_CourseId]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users_UserId]
GO
USE [master]
GO
